# Виртуальное окружение
venv/
.venv/

# Python
__pycache__/
*.pyc
*.pyo

# База данных
*.db

# Редакторы
.vscode/
.idea/

# Настройки приложения
app_settings.json

# Бинарники Ollama
bin/

# Модели Ollama
ollama_models/

# macOS
.DS_Store
**/.DS_Store